@model FORMULARIOPRUEBA.Models.Prueba

@{
    ViewData["Title"] = "Create";
}

<h1>CREAR CASO</h1>


<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Sinopsis" class="control-label"></label>
                <textarea asp-for="Sinopsis" class="form-control"></textarea>
                <span asp-validation-for="Sinopsis" class="text-danger"></span>
            </div>

            <h3>Estados</h3>
            <div id="estadosContainer">
                <div class="form-group">
                    <label for="Estados_0_Nombre">Número</label>
                    <input type="text" name="Estados[0].Numero" class="form-control"
                        placeholder="Ingrese el número del estado" />

                    <label for="Estados_0_Nombre">Nombre</label>
                    <input type="text" name="Estados[0].Nombre" class="form-control"
                        placeholder="Ingrese el nombre del estado" />

                    <label for="Estados_0_Descripcion">Descripción del Estado</label>
                    <input type="text" name="Estados[0].Descripcion" class="form-control"
                        placeholder="Ingrese la descripción del estado" />
                </div>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-secondary" id="addEstadoButton">Agregar Estado</button>
            </div>
            <h3>Flujograma</h3>
            <div>
                <label type="button" id="custom-button">Cargar Imagen</label>
                <input type="file" id="upload" name="upload" />
            </div>
            <div class="form-group">
                <label asp-for="Autores" class="control-label"></label>
                <textarea asp-for="Autores" class="form-control"></textarea>
                <span asp-validation-for="Autores" class="text-danger"></span>
            </div>
            <h4>Antecedentes del paciente</h4>
            <h3>Historia clínica del paciente</h3>
            <div class="form-group">
                <label asp-for="Historial_medico" class="control-label"></label>
                <textarea asp-for="Historial_medico" class="form-control"></textarea>
                <span asp-validation-for="Historial_medico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alergias" class="control-label"></label>
                <textarea asp-for="Alergias" class="form-control"></textarea>
                <span asp-validation-for="Alergias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicamentos" class="control-label"></label>
                <textarea asp-for="Medicamentos" class="form-control"></textarea>
                <span asp-validation-for="Medicamentos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Historia_familiar" class="control-label"></label>
                <textarea asp-for="Historia_familiar" class="form-control"></textarea>
                <span asp-validation-for="Historia_familiar" class="text-danger"></span>
            </div>
            <h3>Nota del ingreso</h3>
            <div class="form-group">
                <label asp-for="Situacion" class="control-label"></label>
                <textarea asp-for="Situacion" class="form-control"></textarea>
                <span asp-validation-for="Situacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota_de_hospitalizacion" class="control-label"></label>
                <textarea asp-for="Nota_de_hospitalizacion" class="form-control"></textarea>
                <span asp-validation-for="Nota_de_hospitalizacion" class="text-danger"></span>
            </div>
            <h3>Exámen físico</h3>
            <div class="form-group">
                <label asp-for="Signos_vitales" class="control-label"></label>
                <textarea asp-for="Signos_vitales" class="form-control"></textarea>
                <span asp-validation-for="Signos_vitales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado_general" class="control-label"></label>
                <textarea asp-for="Estado_general" class="form-control"></textarea>
                <span asp-validation-for="Estado_general" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Piel" class="control-label"></label>
                <textarea asp-for="Piel" class="form-control"></textarea>
                <span asp-validation-for="Piel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Torax" class="control-label"></label>
                <textarea asp-for="Torax" class="form-control"></textarea>
                <span asp-validation-for="Torax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CV" class="control-label"></label>
                <textarea asp-for="CV" class="form-control"></textarea>
                <span asp-validation-for="CV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abdomen" class="control-label"></label>
                <textarea asp-for="Abdomen" class="form-control"></textarea>
                <span asp-validation-for="Abdomen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Laboratorio" class="control-label"></label>
                <textarea asp-for="Laboratorio" class="form-control"></textarea>
                <span asp-validation-for="Laboratorio" class="text-danger"></span>
            </div>
            <h3>Exámen físico</h3>
            <div>
                <label type="button" id="custom-button">Cargar Imagen</label>
                <input type="file" id="uploada" name="uploada" />
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        let estadoCount = 1;

        document.getElementById("addEstadoButton").onclick = function() {
            let newEstadoInput = document.createElement("div");
            newEstadoInput.classList.add("form-group");
            newEstadoInput.innerHTML = `
                <label for="Estados_${estadoCount}_Numero">Número del Estado</label>
                <input type="number" name="Estados[${estadoCount}].Numero" class="form-control" placeholder="Ingrese el número del estado" />

                <label for="Estados_${estadoCount}_Nombre">Estado ${estadoCount + 1}: Nombre del Estado</label>
                <input type="text" name="Estados[${estadoCount}].Nombre" class="form-control" placeholder="Ingrese el nombre del estado" />

                <label for="Estados_${estadoCount}_Descripcion">Descripción del Estado</label>
                <input type="text" name="Estados[${estadoCount}].Descripcion" class="form-control" placeholder="Ingrese la descripción del estado" />
            `;
            document.getElementById("estadosContainer").appendChild(newEstadoInput);
            estadoCount++;
        };
    </script>
}
