@model FORMULARIOPRUEBA.Models.Prueba

@{
    ViewData["Title"] = "Create";
}

<h1>CREAR CASO</h1>


<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Sinopsis" class="control-label"></label>
                <textarea asp-for="Sinopsis" class="form-control"></textarea>
                <span asp-validation-for="Sinopsis" class="text-danger"></span>
            </div>

            <h3>Estados</h3>
            <div id="estadosContainer">
                <div class="form-group">
                    <label for="Estados_0_Nombre">Número</label>
                    <input type="text" name="Estados[0].Numero" class="form-control"
                        placeholder="Ingrese el número del estado" />

                    <label for="Estados_0_Nombre">Nombre</label>
                    <input type="text" name="Estados[0].Nombre" class="form-control"
                        placeholder="Ingrese el nombre del estado" />

                    <label for="Estados_0_Descripcion">Descripción del Estado</label>
                    <input type="text" name="Estados[0].Descripcion" class="form-control"
                        placeholder="Ingrese la descripción del estado" />
                </div>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-secondary" id="addEstadoButton">Agregar Estado</button>
            </div>
            <h3>Flujograma</h3>
            <div>
                <label type="button" id="custom-button">Cargar Imagen</label>
                <input type="file" id="upload" name="upload" />
            </div>
            <div class="form-group">
                <label asp-for="Autores" class="control-label"></label>
                <textarea asp-for="Autores" class="form-control"></textarea>
                <span asp-validation-for="Autores" class="text-danger"></span>
            </div>
            <h4>Antecedentes del paciente</h4>
            <h3>Historia clínica del paciente</h3>
            <div class="form-group">
                <label asp-for="Historial_medico" class="control-label"></label>
                <textarea asp-for="Historial_medico" class="form-control"></textarea>
                <span asp-validation-for="Historial_medico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alergias" class="control-label"></label>
                <textarea asp-for="Alergias" class="form-control"></textarea>
                <span asp-validation-for="Alergias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicamentos" class="control-label"></label>
                <textarea asp-for="Medicamentos" class="form-control"></textarea>
                <span asp-validation-for="Medicamentos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Historia_familiar" class="control-label"></label>
                <textarea asp-for="Historia_familiar" class="form-control"></textarea>
                <span asp-validation-for="Historia_familiar" class="text-danger"></span>
            </div>
            <h3>Nota del ingreso</h3>
            <div class="form-group">
                <label asp-for="Situacion" class="control-label"></label>
                <textarea asp-for="Situacion" class="form-control"></textarea>
                <span asp-validation-for="Situacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota_de_hospitalizacion" class="control-label"></label>
                <textarea asp-for="Nota_de_hospitalizacion" class="form-control"></textarea>
                <span asp-validation-for="Nota_de_hospitalizacion" class="text-danger"></span>
            </div>
            <h3>Exámen físico</h3>
            <div class="form-group">
                <label asp-for="Signos_vitales" class="control-label"></label>
                <textarea asp-for="Signos_vitales" class="form-control"></textarea>
                <span asp-validation-for="Signos_vitales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado_general" class="control-label"></label>
                <textarea asp-for="Estado_general" class="form-control"></textarea>
                <span asp-validation-for="Estado_general" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Piel" class="control-label"></label>
                <textarea asp-for="Piel" class="form-control"></textarea>
                <span asp-validation-for="Piel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Torax" class="control-label"></label>
                <textarea asp-for="Torax" class="form-control"></textarea>
                <span asp-validation-for="Torax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CV" class="control-label"></label>
                <textarea asp-for="CV" class="form-control"></textarea>
                <span asp-validation-for="CV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abdomen" class="control-label"></label>
                <textarea asp-for="Abdomen" class="form-control"></textarea>
                <span asp-validation-for="Abdomen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Laboratorio" class="control-label"></label>
                <textarea asp-for="Laboratorio" class="form-control"></textarea>
                <span asp-validation-for="Laboratorio" class="text-danger"></span>
            </div>

            <h3>Imágenes</h3>
            <div>
                <label type="button" id="custom-button">Cargar Imagen</label>
                <input type="file" id="uploada" name="uploada" />
            </div>
            <h3>Órdenes</h3>
            <div class="form-group">
                <label asp-for="Orden_inicial" class="control-label"></label>
                <textarea asp-for="Orden_inicial" class="form-control"></textarea>
                <span asp-validation-for="Orden_inicial" class="text-danger"></span>
            </div>
            <h3>Preparación</h3>
            <h3>Objetivos del aprendizaje</h3>
            <div class="form-group">
                <label asp-for="Distinguir" class="control-label"></label>
                <textarea asp-for="Distinguir" class="form-control"></textarea>
                <span asp-validation-for="Distinguir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Indicar" class="control-label"></label>
                <textarea asp-for="Indicar" class="form-control"></textarea>
                <span asp-validation-for="Indicar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Analizar" class="control-label"></label>
                <textarea asp-for="Analizar" class="form-control"></textarea>
                <span asp-validation-for="Analizar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evaluación" class="control-label"></label>
                <textarea asp-for="Evaluación" class="form-control"></textarea>
                <span asp-validation-for="Evaluación" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicar" class="control-label"></label>
                <textarea asp-for="Aplicar" class="form-control"></textarea>
                <span asp-validation-for="Aplicar" class="text-danger"></span>
            </div>
            <h3>Desempeño como medida del aprendizaje</h3>
            <h3>Medidas esenciales de rendimiento del escenario</h3>
            <div class="form-group">
                <label asp-for="Medidas_esenciales" class="control-label"></label>
                <textarea asp-for="Medidas_esenciales" class="form-control"></textarea>
                <span asp-validation-for="Medidas_esenciales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Baseline" class="control-label"></label>
                <textarea asp-for="Baseline" class="form-control"></textarea>
                <span asp-validation-for="Baseline" class="text-danger"></span>
            </div>

            <h3>Estados</h3>
            <div id="estadosaContainer">
                <div class="form-group">
                    <label for="Estadosa_0_Nombre">Número</label>
                    <input type="text" name="Estadosa[0].Numero" class="form-control"
                        placeholder="Ingrese el número del estado" />

                    <label for="Estadosa_0_Nombre">Nombre</label>
                    <input type="text" name="Estadosa[0].Nombre" class="form-control"
                        placeholder="Ingrese el nombre del estado" />

                    <label for="Estadosa_0_Descripcion">Descripción del Estado</label>
                    <input type="text" name="Estadosa[0].Descripcion" class="form-control"
                        placeholder="Ingrese la descripción del estado" />
                </div>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-secondary" id="addEstadoaButton">Agregar Estado</button>
            </div>
            <div class="form-group">
                <label asp-for="Preguntas_de_preparacion" class="control-label"></label>
                <textarea asp-for="Preguntas_de_preparacion" class="form-control"></textarea>
                <span asp-validation-for="Preguntas_de_preparacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipos_de_suministro" class="control-label"></label>
                <textarea asp-for="Equipos_de_suministro" class="form-control"></textarea>
                <span asp-validation-for="Equipos_de_suministro" class="text-danger"></span>
            </div>

            <h3>Diálogo</h3>
            <div id="dialogoContainer">
                <div class="form-group">
                    <label for="Dialogo_0_Personaje">Personaje</label>
                    <input type="text" name="Dialogo[0].Personaje" class="form-control"
                        placeholder="Ingrese el número del estado" />

                    <label for="Dialogo_0_Guion">Guión</label>
                    <input type="text" name="Dialogo[0].Guion" class="form-control"
                        placeholder="Ingrese el nombre del estado" />

                </div>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-secondary" id="addDialogoButton">Agregar Dialogo</button>
            </div>

            <h3>Archivos Adicionales</h3>
            <div>
                <label type="button" id="custom-button-archivo">Cargar Archivo Adicional</label>
                <input type="file" id="uploadArchivo" name="uploadArchivo" />
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        let estadoCount = 1;

        document.getElementById("addEstadoButton").onclick = function () {
            let newEstadoInput = document.createElement("div");
            newEstadoInput.classList.add("form-group");
            newEstadoInput.innerHTML = `
                        <label for="Estados_${estadoCount}_Numero">Número del Estado</label>
                        <input type="number" name="Estados[${estadoCount}].Numero" class="form-control" placeholder="Ingrese el número del estado" />

                        <label for="Estados_${estadoCount}_Nombre">Estado ${estadoCount + 1}: Nombre del Estado</label>
                        <input type="text" name="Estados[${estadoCount}].Nombre" class="form-control" placeholder="Ingrese el nombre del estado" />

                        <label for="Estados_${estadoCount}_Descripcion">Descripción del Estado</label>
                        <input type="text" name="Estados[${estadoCount}].Descripcion" class="form-control" placeholder="Ingrese la descripción del estado" />
                    `;
            document.getElementById("estadosContainer").appendChild(newEstadoInput);
            estadoCount++;
        };

        let estadoaCount = 1;

        document.getElementById("addEstadoaButton").onclick = function () {
            let newEstadoaInput = document.createElement("div");
            newEstadoaInput.classList.add("form-group");
            newEstadoaInput.innerHTML = `
                        <label for="Estadosa_${estadoaCount}_Numero">Número del Estado</label>
                        <input type="number" name="Estadosa[${estadoaCount}].Numero" class="form-control" placeholder="Ingrese el número del estado" />

                        <label for="Estadosa_${estadoaCount}_Nombre">Estado ${estadoaCount + 1}: Nombre del Estado</label>
                        <input type="text" name="Estadosa[${estadoaCount}].Nombre" class="form-control" placeholder="Ingrese el nombre del estado" />

                        <label for="Estadosa_${estadoaCount}_Descripcion">Descripción del Estado</label>
                        <input type="text" name="Estadosa[${estadoaCount}].Descripcion" class="form-control" placeholder="Ingrese la descripción del estado" />
                    `;
            document.getElementById("estadosaContainer").appendChild(newEstadoaInput);
            estadoaCount++;
        };

        let dialogoCount = 1;

        document.getElementById("addDialogoButton").onclick = function () {
            let newDialogoInput = document.createElement("div");
            newDialogoInput.classList.add("form-group");
            newDialogoInput.innerHTML = `
                        <label for="Dialogo_${dialogoCount}_Personaje">Personaje</label>
                        <input type="text" name="Dialogo[${dialogoCount}].Personaje" class="form-control" placeholder="Ingrese el nombre del personaje" />

                        <label for="Dialogo_${dialogoCount}_Guion">Guion</label>
                        <input type="text" name="Dialogo[${dialogoCount}].Guion" class="form-control" placeholder="Ingrese el guión del personaje" />

                    `;
            document.getElementById("dialogoContainer").appendChild(newDialogoInput);
            dialogoCount++;
        };

        let archivoCount = 1;

        document.getElementById("addArchivoButton").onclick = function () {
            let newArchivoInput = document.createElement("div");
            newArchivoInput.classList.add("form-group");
            newArchivoInput.innerHTML = `
            <label for="ArchivosAdicionales_${archivoCount}_Nombre">Nombre del Archivo</label>
            <input type="text" name="ArchivosAdicionales[${archivoCount}].Nombre" class="form-control" placeholder="Ingrese un nombre para el archivo" />

            <label for="ArchivosAdicionales_${archivoCount}_Archivo">Archivo</label>
            <input type="file" name="ArchivosAdicionales[${archivoCount}].Archivo" class="form-control-file" />
        `;
            document.getElementById("archivosContainer").appendChild(newArchivoInput);
            archivoCount++;
        };
    </script>
}
