<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Encabezado PDF</title>
    <style>
        body { text-align: center; font-size: 10px; }
    </style>
</head>
<body>
    <strong>Encabezado de PDF</strong>
</body>
</html>
